VITE_FIREBASE_API_KEY=AIzaSyCR4qJOxMDmsegA-D5plNJfgbkNb6lTTx8
VITE_FIREBASE_AUTH_DOMAIN=vietalky.web.app
VITE_FIREBASE_PROJECT_ID=vietalky
VITE_FIREBASE_STORAGE_BUCKET=vietalky.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=370599225362
VITE_FIREBASE_APP_ID=1:370599225362:web:dcf094b7f2d5a1b0bf10cb

